@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Columns Style Sheet
   Author: Antonios Chatzinikolas Georgas
   Date:   6/20/2023

   Filename:         dlr_columns2.css

*/

/* Column Styles */

@media screen and (min-width: 641px) {
  p {
    column-count: 3;
    column-gap: 20px;
    column-rule: 1px solid black;
  }
}
