/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Philosopher&display=swap");

/* Root variable declarations */
:root {
  --clr-bg: #fff; /* Background color */
  --clr-header-footer-bg: #222121; /* Header and footer background color */
  --clr-header-footer-text: #ffffffe0; /* Header and footer text color */
  --clr-title-text: #fff; /* Title text color */
  --clr-menu-text: #fff; /* Menu text color */
  --clr-menu-text-hover: #5ccbd0; /* Hover color for menu text */
  --clr-footer-items: #ffffff9f; /* Footer item color */
  --clr-home-video-text: #fdfdfdef; /* Text color for home video section */
  --clr-newsletter-bg: #eff1f2; /* Background color for newsletter section */
}

/* Styles for the main container */
#main-container {
  padding-top: 3rem; /* Adds 3 units of padding to the top */
  padding-bottom: 3rem; /* Adds 3 units of padding to the bottom */
}

/* Styles for the about section */
#about-section {
  max-width: 80rem; /* Sets the maximum width of the section to 80rem */
  margin: 0 auto; /* Centers the section horizontally by setting left and right margins to auto */
}

/* Styles for the heading within the about section */
#about-section h1 {
  font-size: 2.2rem; /* Sets the font size of the heading to 2.2rem */
  margin-bottom: 2rem; /* Adds a margin of 2 units at the bottom of the heading */
  text-align: center; /* Centers the heading text horizontally */
}

/* Styles for paragraphs within the about section, except the last one */
#about-section p:not(:last-child) {
  margin-bottom: 2.5rem; /* Adds a margin of 2.5 units at the bottom of each paragraph, except the last one */
}

/* Styles for the last paragraph within the about section */
#about-section p:last-child {
  margin-bottom: 1.8rem; /* Adds a margin of 1.8 units at the bottom of the last paragraph */
}
