#main-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#about-section {
  max-width: 80rem;
  margin: 0 auto;
}

#about-section h1 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  text-align: center;
}

#about-section p:not(:last-child) {
  margin-bottom: 2.5rem;
}

#about-section p:last-child {
  margin-bottom: 1.8rem;
}
