@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Philosopher&display=swap");

:root {
  --clr-bg: #fff;
  --clr-header-footer-bg: #222121;
  --clr-header-footer-text: #ffffffe0;
  --clr-title-text: #fff;
  --clr-menu-text: #fff;
  --clr-menu-text-hover: #5ccbd0;
  --clr-footer-items: #ffffff9f;
  --clr-home-video-text: #fdfdfdef;
  --clr-newsletter-bg: #eff1f2;
}

#calendar {
  background-color: var(--clr-newsletter-bg);
  font-size: 0.9em;
  font-family: "Oswald", sans-serif;
  width: 100%;
  box-shadow: rgb(47, 47, 47) 0px 0px 1px, rgb(47, 47, 47) 0px 0px 5px,
    rgb(47, 47, 47) 0px 0px 10px, rgb(47, 47, 47) 0px 0px 20px;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  border: 3px solid #ccc;
  border-radius: 0.5rem;
}

th.weekday {
  font-size: 1.3rem;
}

caption {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  padding-bottom: 2rem;
}

td,
th.weekday,
#calendarTable .day {
  border: 3px solid #ccc;
}

#calendarTable .day {
  height: 8rem;
  width: 15rem; /* divide the row space evenly among the seven days */
  text-align: center;
  overflow: hidden;
  position: relative;
}

#calendarTable .day-number {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
}

#calendarTable .event-description {
  font-size: 1.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#calendarTable .today {
  background-color: #ff0;
}

#calendarTable .event {
  background-color: var(--clr-menu-text-hover);
}
