/* main-container styles */

#main-container {
  padding-top: 2rem;
}

/* gallery styles */

#lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#lightbox-image {
  max-width: 80%;
  max-height: 70%;
  object-fit: contain;
}

.thumbnail {
  width: 300px;
  height: 200px;
  margin: 0 10px;
  margin-bottom: 1.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.thumbnail:hover {
  transform: scale(0.9);
}

#thumbnail-list {
  display: flex;
  margin-top: 1rem;
}

#gallery {
  max-width: 80rem;
  margin: 0 auto;
}

#image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* gear section styles */

#gear-container {
  max-width: 80rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

#left-content {
  flex-basis: 40%;
}

#right-content {
  flex-basis: 60%;
  display: flex;
}

#gear-container h1 {
  font-size: 2.3rem;
  padding: 0.5rem;
}

#gear-container p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

#gear-container a img {
  height: 180px;
  width: 213px;
}

.image-container {
  margin: 0.3rem;
  padding: 1rem;
  border: 4px solid #000000;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease;
}

.image-container:hover {
  transform: scale(1.05);
}

@media (max-width: 1900px) and (min-height: 600px) {
  .thumbnail {
    width: 200px;
    height: 200px;
  }

  #gear-container a img {
    height: 180px;
    width: 180px;
  }

  .image-container {
    padding: 0rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
