/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Philosopher&display=swap");

/* Root variable declarations */
:root {
  --clr-bg: #fff; /* Background color */
  --clr-header-footer-bg: #222121; /* Header and footer background color */
  --clr-header-footer-text: #ffffffe0; /* Header and footer text color */
  --clr-title-text: #fff; /* Title text color */
  --clr-menu-text: #fff; /* Menu text color */
  --clr-menu-text-hover: #5ccbd0; /* Hover color for menu text */
  --clr-footer-items: #ffffff9f; /* Footer item color */
  --clr-home-video-text: #fdfdfdef; /* Text color for home video section */
  --clr-newsletter-bg: #eff1f2; /* Background color for newsletter section */
}

/* Header styles */
header {
  font-family: "Caprasimo", cursive;
  background-color: var(
    --clr-header-footer-bg
  ); /* Sets the background color of the header */
  width: 100%;
  position: fixed; /* Fixes the position of the header */
  z-index: 100; /* Sets the z-index of the header */
}

#header-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex; /* Displays the header container as a flex container */
  align-items: center; /* Aligns items vertically at the center */
  justify-content: space-between; /* Distributes items evenly along the horizontal axis */
}

#website-title {
  font-family: "Caprasimo", cursive;
  font-size: 2.5rem;
  color: var(--clr-title-text); /* Sets the color of the website title */
}

#website-logo {
  width: 2.1rem;
  height: 2.1rem;
  padding-top: 5px;
}

#menu-items li {
  display: contents; /* Allows the menu items to behave as individual items */
}

#menu-items li a {
  color: var(--clr-menu-text);
  font-size: 0.9rem;
  font-weight: 300;
  margin-left: 1rem;
  position: relative;
  cursor: pointer;
  outline: none;
}

#menu-items li a:hover {
  color: var(
    --clr-menu-text-hover
  ); /* Sets the color of the menu items on hover */
}

#menu-items li a::after {
  content: "";
  position: absolute;
  background-color: var(
    --clr-menu-text-hover
  ); /* Sets the background color of the menu item underline */
  height: 3px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: 0.3s ease; /* Adds a smooth transition effect */
}

#menu-items li a:hover::after {
  width: 100%; /* Expands the menu item underline on hover */
}

/* Footer Styles */
footer {
  font-family: "Caprasimo", cursive;
  font-size: 1.2rem;
  z-index: 100; /* Sets the z-index of the footer */
  background: var(
    --clr-header-footer-bg
  ); /* Sets the background color of the footer */
  color: var(--clr-header-footer-text); /* Sets the text color of the footer */
}

#footer-container {
  position: sticky;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-row {
  display: flex; /* Displays the footer row as a flex container */
  flex-wrap: nowrap; /* Prevents wrapping of items within the footer row */
}

.footer-column {
  flex: 1 1 25%; /* Sets the flex basis of the footer columns */
}

.footer-column h1 {
  font-family: "Caprasimo", cursive;
  text-align: start;
  color: var(--clr-menu-text-hover);
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.footer-column h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 50%;
  background-color: var(
    --clr-menu-text-hover
  ); /* Sets the color of the horizontal line below the h1 */
}

.footer-column ul li {
  font-size: 1rem;
}

.footer-column ul li a {
  color: var(--clr-footer-items);
  font-weight: lighter;
  transition: all 0.2s ease;
}

.footer-column ul li a:hover {
  color: var(--clr-header-footer-text);
  padding-left: 10px;
}

.footer-column img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  transition: all 0.2s ease;
}

#social-media img:hover,
#contact img:hover {
  transform: translateY(-5px);
}

.footer-column ul li:not(:last-child) {
  margin-bottom: 5px;
}

#solid-line-divider {
  border-top: 1px solid #bbb;
}

#footer-copyright {
  font-size: 0.9rem;
  color: var(--clr-footer-items);
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-copyright p {
  font-family: "Caprasimo", cursive;
  font-size: 0.8rem;
}
